<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Qipu Newsletter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300');
    .responsive {
      padding: 0 12% 0 12%;
    }
    .text-header-bgrd {
      background: url("https://i.ibb.co/cxrpVZr/blur-businesswoman-close-up-407237.jpg");
      background-position: 0 5%;
      background-size: cover;
      background-size: 105%;
    }
    .social-media {
      padding: 0 35% 0 35%;
    }
    .sm-img {
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: 500px) {
      tr, td {
        font-size: 20px;
      }
      .responsive {
        padding: 0;
      }
      .text-header-bgrd{
        height: 300px;
      }
      .social-media {
        padding: 0 30% 0 30%;
      }
      .sm-img {
        width: 50px;
        height: 50px;
      }
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#e0e0e0">
   <tr>
    <td>
      <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td align="center" bgcolor="#e0e0e0" style="padding: 5% 0 5% 0;">
              <a href="https://www.qipu.com.br/" target="_blank">
                <img src="https://user-images.githubusercontent.com/38255794/49984441-361a6980-ff4f-11e8-811f-b5e543a11c76.png" alt="Qipu logo" width="90" height="52" style="display: block;" />
              </a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#e0e0e0" class="responsive">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="text-header-bgrd" width="360" height="180"></td>
                </tr>
                <tr>
                  <td>
                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Roboto', Arial, sans-serif; font-size: 16px; font-weight:300; padding: 5% 7% 0 7%;">
                      <tr align="center" >
                        <td style="padding: 8px 0 8px 0;" >
                          Olá, {{nome}}
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0;">
                          Meu nome é Alessandra Gomes e eu faço parte da equipe do Qipu, o aplicativo braço direito do empreendedor.
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0;">
                          Esse contato é para te dar os parabéns pela abertura da sua empresa
                        </td style="padding: 8px 0 8px 0;">
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0; font-weight: bold; color: #342a69;">
                          Razão Social: {{razao_social}} </br>
                          CNPJ: {{cnpj_formatado}} 
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0">
                          Desejo muita sorte neste início de negócio e quero te ajudar a encontrar uma solução para a burocracia que pode surgir com o tempo. Quer saber como fugir disso? Com o Qipu você consegue.
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0">
                          <span style="font-weight:bold; color: #fa9963">Nosso aplicativo é perfeito para que você realize a gestão financeira da sua empresa</span>, consiga controlar os seus lançamentos, entender as entradas e saídas do seu negócio e emitir notas fiscais relacionadas aos seus serviços. 
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0">
                          Já pensou em emitir suas notas fiscais sem precisar acessar o site da prefeitura ou ligar para o seu contador? E se eu te contar que no Qipu você pode fazer tudo isso e muito mais em apenas alguns cliques?
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="padding: 8px 0 8px 0">
                            <span style="font-weight:bold; color: #fa9963">Baixe o app agora gratuitamente</span> e teste nossas ferramentas. Você vai ver como é fácil. 
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="right" width="49%" style="padding: 8px 0 8px 0;">
                                <a href="https://itunes.apple.com/br/app/qipu-contabilidade-e-nfse/id970158643?mt=8" target="_blank">
                                  <img src="https://i.ibb.co/cQC2v1H/apple.png" alt="Logo da App Store" width="118" height="61" style="display: block;" />
                                </a>
                              </td>
                              <td width="2%" style="padding: 8px 0 8px 0;">&nbsp;
                              </td>
                              <td align="left" width="49%" style="padding: 8px 0 8px 0;">
                                <a href="https://play.google.com/store/apps/details?id=br.com.qipu.app&hl=pt_BR" target="_blank">
                                  <img src="https://i.ibb.co/88215HF/google.png" alt="Logo do Google Play" width="118" height="61" style="display: block;" />
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr align="center">
                        <td>
                          <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Roboto', Arial, sans-serif; font-size: 16px; font-weight:300; padding: 0 0 10% 0;">
                            <tr align="center">
                              <td style="padding: 8px 0 8px 0;">
                                Qualquer dúvida é só chamar. ;)
                              </td>
                            </tr>
                            <tr align="center">
                              <td style="padding: 8px 0 8px 0;">
                                #Para que você veja como o Qipu é fácil, separei um vídeo que explica como emitir notas fiscais pelo nosso app.
                                Teste agora!
                              </td style="padding: 8px 0 8px 0;">
                            </tr>
                            <tr align="center">
                              <td style="padding: 8% 0 6% 0;">
                                <a href="#" target="_blank">
                                  <img src="https://i.ibb.co/yBqdRxp/rouded-video.png" alt="Thumbnail do vídeo" width="282" height="159" style="display: block;" />
                                </a>
                              </td>
                            </tr>
                            <tr align="center">
                              <td>
                                <span style="font-weight:bold; color: #342a69">Abraços e bons negócios!</span><br>
                                Alessandra Gomes
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#e0e0e0">
              <table align="center" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Roboto', Arial, sans-serif; font-size: 16px; font-weight:600;">
                <tr>
                  <td style="padding: 19px 0 19px 0;">&nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#e0e0e0" style="padding: 19px 0 19px 0;">
                    <a href="https://www.qipu.com.br/" target="_blank" style="text-decoration: none;color:#6798d0;">
                    www.qipu.com.br
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table bgcolor="#e0e0e0" cellpadding="0" cellspacing="0" width="100%" class="social-media">
                      <tr>
                        <td align="center" width="5%" style="padding: 8px 0 8px 0;">
                          <a href="https://www.qipu.com.br/blog/" target="_blank">
                            <img class="sm-img" src="https://i.ibb.co/fk29jFB/blog.jpg" alt="Blog" style="display: block;" />
                          </a>
                        </td>
                        <td align="center" width="5%" style="padding: 8px 0 8px 0;">
                          <a href="https://www.facebook.com/qipubr/" target="_blank">
                            <img class="sm-img" src="https://i.ibb.co/prSvYwN/face.jpg" alt="Facebook" style="display: block;" />
                          </a>
                        </td>
                        <td align="center" width="5%" style="padding: 8px 0 8px 0;">
                          <a href="https://twitter.com/qipubrasil" target="_blank">
                            <img class="sm-img" src="https://i.ibb.co/QJ07ZWg/twitter.jpg" alt="Twitter" style="display: block;" />
                          </a>
                        </td>
                        <td align="center" width="5%" style="padding: 8px 0 8px 0;">
                          <a href="https://www.youtube.com/channel/UCnjyJBmAkKTVGNPOQZftwlQ" target="_blank">
                            <img class="sm-img" src="https://i.ibb.co/D7VD68r/youtube.jpg" alt="YouTube" style="display: block;" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size:12px; padding: 0 0 10% 0">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size:12px; line-height: 1.5;">
                    Empreendedor Simples e Legal Contabilidade S.S <br>
                    CNPJ 27.119.334/0001-35 CRC SP032638/0 <br>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size:12px; padding: 2% 0 2% 0">
                    <a href="#" target="_blank" style="font-weight:bold; color: #2b348a;">
                      Cancelar o recebimento deste e-mail
                    </a>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size:12px; padding: 0 0 5% 0">
                    &nbsp;
                  </td>
                </tr>
            </table>
            </td>
          </tr>
      </table>
    </td>
   </tr>
  </table>
 </body>
</html>